- @active_tab = 'dd#gallery-tab'
- @page_title = 'Gallery'
- @page_desc = "Gallery of images displaying examples of eyelash extensions performed by Eye Define Beauty."

%article#photoGallery
  .row
    .twelve.columns
      %h2 Gallery
  .row
    .eight.columns.centered
      #featured
        = image_tag "gallery/eyelash-sample1.jpg", { 'alt' => 'Sample 1 of Eye Define Beauty eyelash extensions' }
        = image_tag 'gallery/eyelash-sample2.jpg', { 'alt' => 'Sample 2 of Eye Define Beauty eyelash extensions' }
        = image_tag 'gallery/eyelash-sample3.jpg', { 'alt' => 'Sample 3 of Eye Define Beauty eyelash extensions' }
        = image_tag "gallery/eyelash-sample4.jpg", { 'alt' => 'Sample 4 of Eye Define Beauty eyelash extensions' }
        = image_tag 'gallery/eyelash-sample5.jpg', { 'alt' => 'Sample 5 of Eye Define Beauty eyelash extensions' }
        = image_tag 'gallery/eyelash-sample6.jpg', { 'alt' => 'Sample 6 of Eye Define Beauty eyelash extensions' }
        = image_tag 'gallery/eyelash-sample7.jpg', { 'alt' => 'Sample 7 of Eye Define Beauty eyelash extensions' }
        = image_tag 'gallery/eyelash-sample8.jpg', { 'alt' => 'Sample 8 of Eye Define Beauty eyelash extensions' }
        = image_tag 'gallery/eyelash-sample9.jpg', { 'alt' => 'Sample 9 of Eye Define Beauty eyelash extensions' }
        = image_tag 'gallery/eyelash-sampleX.jpg', { 'alt' => 'Sample 10 of Eye Define Beauty eyelash extensions' }
  -#.row
  -#  .twelve.columns
  -#    %h3 Latest images from instagram
  -#.row.hide-for-small
  -#  .ten.columns.centered
  -#    <iframe src="http://widget.stagram.com/in/eyedefine/?s=180&w=4&h=3&b=1&p=10" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:800px; height: 600px" ></iframe> <!-- Webstagram - web.stagram.com -->


- content_for :extra_js do
  :javascript
    $(window).load(function() {
      $('#featured').orbit({
        timer: false,
        bullets: false,			 // true or false to activate the bullet navigation
        bulletThumbs: false, // thumbnails for the bullets
        fluid: '4x3'
      });
    });
